$background_color: #1b263b;
$header_color: #0d1b2a;

$title_font: 'Oswald', sans-serif;
$content_font: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    color: white;
}

body {
    background-color: $background_color;
}

.main-header {
    background-color: $header_color;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 75px;
}

.main-header__title {
    margin: 0px;
    padding: 7px;
    font-size: 30px;
    flex: 1;
    font-family: $title_font;
    color: white;
}

.main-header__hamburger-icon {
    font-size: 45px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    font-family: $content_font;
}