<!DOCTYPE html>
<html>
    <head>
        <title>Brian Nickel | {{ title }}</title>
        <link rel="stylesheet" href="./css/main.css">
    </head>

    <body>
    {{ content | safe }}
    </body>
</html>